QPushButton{
    color:White;
    border-radius: 15px;
    font: "站酷高端黑";
    background:#008B8B;
    border:15px;
}
QPushButton:hover{
    background:#00CED1;
}
QPushButton:pressed{
    background:#00CED1;
}